.header {
  height: 293px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  width: 391.48px;
  font-size: 18px;
  line-height: 21.13px;
  justify-self: start;

}

.header__links-list {
  display: flex;
  gap: 31.48px;
  list-style: circle;
}

.list-item_no-bullit {
  list-style: none;
}

.link_active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  height: 107px;

}

.header__address {
  width: 240px;
  height: 98px;
  justify-self: flex-end;

}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: 51%;
  padding: 50px;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  width: 1000px;
  height: 385px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 115px;
  color: #FFFFFF;
  z-index: 2;
}

.cover__title-item {
}

.text-center {
  margin-left: 28px;
  align-self: center;
}

.text-end {
  text-align: end;
  align-self: flex-end;
}

.cover__description {
  position: relative;
  width: 1000px;
  height: 51px;
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  z-index: 2;
}

.cover__description-subline {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 0.84em;
  text-transform: uppercase;

}

.cover__description-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lots {
  margin: 0 24px 120px 24px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card__link {
  position: relative;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  color: #FFFFFF;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__content {
  position: relative;
}

.card__info {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__description {
  font-size: 20px;
  line-height: 24px;
}

.lots__more {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  width: 1052px;
  height: 595px;
  margin: 0 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-left {
  padding: 35px 0 0 47px;
}

.about__column-right {
  padding: 136px 0 0 25px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  max-width: 693px;
  height: 312px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-wrap: break-word;
}

.footer {
  height: 180px;
  padding: 0 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr min-content 1fr;

}

.footer__menu-list {
  width: 163.9px;
  height: 64px;
  font-size: 18px;
  line-height: 21.13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__address {
  width: 264.57px;
  height: 98px;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: flex-end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}