.header {
  height: 293px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  width: 391.48px;
  height: 22px;
  font-size: 18px;
  line-height: 21.13px;
  justify-self: start;

}

.header__links-list {
  display: flex;
  gap: 31.48px;
  list-style: circle;
}

.list-item_no-bullit {
  list-style: none;
}

.link_active {
  text-decoration: none;
}

.header__logo {
  width: 129.11px;
  height: 104.65px;

}

.header__address {
  width: 240px;
  height: 98px;
  justify-self: flex-end;

}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address a {
  text-decoration: underline;
}


.main {


}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(/images/cover.jpg);
  padding: 50px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  width: 1000px;
  height: 385px;
  margin-top: 115px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 115px;
  color: #FFFFFF;
  z-index: 2;
}

.cover__title-item {
  display: block;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.cover__description {
  position: relative;
  width: 1000px;
  height: 51px;
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  z-index: 2;
}

.cover__description-subline {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 0.9em;
  text-transform: uppercase;

}

.cover__description-button {
  width: 256px;
  height: 51px;
  background: none;
  border: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lots {

}

.lots__list-item {
  width: 334px;
  height: 596px;
}

.card__content {
  position: relative;
}

.about {

}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
}

.footer {


}

.footer__socials-list-item {
  width: 48px;
  height: 48px;
}